# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtualenv / Poetry
# =========================
venv/
.env/
.venv/
env/
ENV/
.venv.bak/

# =========================
# Allure
# =========================
allure-results/
allure-report/

# =========================
# Logs
# =========================
*.log
*.tmp

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db
